name: Software Security Pipeline

# on: [push] # Kør hver eneste gang, jeg gemmer noget (push), og hver gang nogen vil flette kode (pull request)
on: workflow_dispatch # Nu kører den aldrig af sig selv. Du skal gå ind på GitHub og trykke på en knap, der hedder "Run workflow" for at starte den. 
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install PyTest
        run: pip install pytest
      - name: Run all tests
        run: pytest -v